/.vs
/OrderService/.vs
/OrderService/FastMeal.OrderService/bin
/OrderService/FastMeal.OrderService/obj
/OrderService/FastMeal.OrderService.Tests/bin
/OrderService/FastMeal.OrderService.Tests/obj
/ConsumerService/.vs
/ConsumerService/FastMeal.ConsumerService/bin
/ConsumerService/FastMeal.ConsumerService/obj
/KitchenService/.vs
/KitchenService/FastMeal.KitchenService/bin
/KitchenService/FastMeal.KitchenService/obj
/AccountingService/.vs
/AccountingService/FastMeal.AccountingService/bin
/AccountingService/FastMeal.AccountingService/obj
/RestaurantService/FastMeal.RestaurantService/bin
/RestaurantService/FastMeal.RestaurantService/obj
/RestaurantService/.vs
/DeliveryService/FastMeal.DeliveryService/bin
/DeliveryService/FastMeal.DeliveryService/obj
/DeliveryService/.vs
/OrderService/FastMeal.OrderService.Domain/bin
/OrderService/FastMeal.OrderService.Domain/obj
/OrderService/FastMeal.Commom.Domain/obj
/Common/FastMeal.Common.CodeStyle/.vs
/Common/FastMeal.Common.CodeStyle/bin
/Common/FastMeal.Common.CodeStyle/obj
/Common/FastMeal.Common.Domain/bin
/Common/FastMeal.Common.Domain/obj
