/.vs
/src/OrderService/.vs
/src/OrderService/FastMeal.OrderService/bin
/src/OrderService/FastMeal.OrderService/obj
/src/OrderService/FastMeal.OrderService.Tests/bin
/src/OrderService/FastMeal.OrderService.Tests/obj
/src/ConsumerService/.vs
/src/ConsumerService/FastMeal.ConsumerService/bin
/src/ConsumerService/FastMeal.ConsumerService/obj
/src/KitchenService/.vs
/src/KitchenService/FastMeal.KitchenService/bin
/src/KitchenService/FastMeal.KitchenService/obj
/src/AccountingService/.vs
/src/AccountingService/FastMeal.AccountingService/bin
/src/AccountingService/FastMeal.AccountingService/obj
/src/RestaurantService/FastMeal.RestaurantService/bin
/src/RestaurantService/FastMeal.RestaurantService/obj
/src/RestaurantService/.vs
/src/DeliveryService/FastMeal.DeliveryService/bin
/src/DeliveryService/FastMeal.DeliveryService/obj
/src/DeliveryService/.vs
/src/OrderService/FastMeal.OrderService.Domain/bin
/src/OrderService/FastMeal.OrderService.Domain/obj
/src/OrderService/FastMeal.Commom.Domain/obj
/src/Common/FastMeal.Common.CodeStyle/.vs
/src/Common/FastMeal.Common.CodeStyle/bin
/src/Common/FastMeal.Common.CodeStyle/obj
/src/Common/FastMeal.Common.Domain/bin
/src/Common/FastMeal.Common.Domain/obj
